page{
    background: #f8f8f8;
}
.goods-list{
    .header{
        // line-height: 50rpx;
        margin-top:20rpx;
        justify-content: center;
        margin-bottom: 20rpx;
        // background: #fff;
    }
    .search{
        width:500rpx;
        height:60rpx;
        line-height:60rpx;
        border:1px solid #333333;
        border-radius: 50rpx;
        display: flex;
        align-items: center;
        .icon{
            font-size: 43rpx;
            padding-left:10rpx;
        }
        .input{
            padding-left:10rpx;
            font-size: 33rpx;
        }
    }
    .search-text{
        margin-left:20rpx;
        color:#333333;
        margin-top:3rpx;
    }
    .main{
        &-list{
            .item{
                .van-grid-item {
                    padding:10rpx;
                    .van-grid-item__content {
                        border-radius: 20rpx;
                    }
                }
            }
            .list-text{
                margin-top:20rpx;
                font-size: 35rpx;
                .prize{
                    color:#f64554;
                    font-size: 30rpx;
                }
            }
            .item-cart{
                width:60rpx;
                height:60rpx;
                border-radius: 50%;
                background: #333333;
                position: absolute;
                right:30rpx;
                bottom: 30rpx;
                padding:5rpx;
                display: flex;
                justify-content: center;
            }
        }
    }
    .add-cart{
        position: fixed;
        right:20rpx;
        bottom:150rpx;
        padding:25rpx;
        border-radius: 30rpx;
        display: flex;
        align-items: center;
        .text{
            color:#fff;
            margin-left:10rpx;
        }
    }
}