.payment-info{
    padding:30rpx;
}
.footer-pay{
    padding:0 10rpx 20rpx;
    text-align: left;
    .money{
        width:80%;
    }
    .payment{
        font-size: 50rpx;
        font-weight: 600;
    }
}